@include load-font('GothamPro', normal, (
        Thin: 100,
        Light: 300,
        Regular: 400,
        Medium: 500,
        Bold: 700,
        Black: 900
), (
        woff: 'woff'
)
);


@include load-font('Roboto', normal, (
        Thin: 100,
        Light: 300,
        Regular: 400,
        Medium: 500,
        Bold: 700,
        Black: 900
), (
        ttf: 'truetype',
)
);



