@include load-font('GothamPro', normal, (
        Thin: 100,
        Light: 300,
        Regular: 400,
        Medium: 500,
        Bold: 700,
        Black: 900
), (
        woff: 'woff'
)
);

@font-face{
  font-family: 'GothamProBlack';
  src: url('../fonts/GothamPro/GothamPro-Black.eot');
  src: url('../fonts/GothamPro/GothamPro-Black.eot?iefix') format('eot'),
  url('../fonts/GothamPro/GothamPro-Black.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@include load-font('Roboto', normal, (
        Thin: 100,
        Light: 300,
        Regular: 400,
        Medium: 500,
        Bold: 700,
        Black: 900
), (
        ttf: 'truetype',
)
);



