@include load-font('DINRoundPro', normal, (
        Light: 300,
        Regular: 400,
        Medium: 500,
        Bold: 700,
        Black: 800
), (
          ttf: 'truetype',
          eot: 'eot',
          woff: 'woff'
)
);


@include load-font('SFUIText', normal, (
        Thin: 100,
        Ultralight:200,
        Light: 300,
        Regular: 400,
        Medium: 500,
        Semibold: 600,
        Bold: 700,
        Black: 900
), (
        ttf: 'truetype',
        eot: 'eot',
        woff: 'woff'
)
);

@include load-font('SFUIDisplay', normal, (
        Thin: 100,
        Ultralight:200,
        Light: 300,
        Regular: 400,
        Medium: 500,
        Semibold: 600,
        Bold: 700,
        Black: 900
), (
        ttf: 'truetype',
)
);

@include load-font('Roboto', normal, (
        Thin: 100,
        Light: 300,
        Regular: 400,
        Medium: 500,
        Bold: 700,
        Black: 900
), (
        ttf: 'truetype',
)
);



