body, div, form, h1, h2, h3, h4, h5, h6, html, li, ol, p, pre, span, ul, figure {
  margin: 0;
  padding: 0;
  outline: 0;
}

h1, .h-1
{
  @include font(48px,1.2,700);
}

.h-2-2
{
  padding-top: 38px;
  @include font(32px,1,700);
}

h2, .h-2
{
  @include font(48px,1.2,700);
  @media (max-width: $step-md) {
    @include font(34px,1.2,700);
  }
}

h3, .h-3
{
  @include font(36px,1.2,700);
  @media (max-width: $step-md) {
    @include font(28px,1.2,700);
  }
}
h4, .h-4
{
  @include font(24px,1.2,700);
}

p
{
  @include font(24px,1.4,400,$text-gray);

}
input:focus{
  outline:none;
}
.p{
  &-contacts{
    @include font(16px,1.4,400);
    margin-bottom: 0;
    margin-top: 21px;
  }
  &-info-ad{
    white-space: nowrap;
    @include font(16px,2,400);
    margin-bottom: 11px;
    span{
      width: 16px;
      vertical-align: middle;
      display: inline-block;
      height: 29px;
      background-position-x: center !important;
      margin-right: 8px;
    }
  }

}
%red-button {
  @include fit-content();
  text-transform: uppercase;
  color: white !important;
  text-decoration: none !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: nowrap row;
  white-space: nowrap;
  height: 60px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 23px rgba(255,108,0,0.8);
  background-color: #df1e25;
  @include font(16px,1,700);
  &:hover{
    @include transition();
    box-shadow: 0 0 28px rgba(255,108,0,0.85);
    background-color: #ca242a;
  }

}
.red-button{
  &-lx{
    @extend %red-button;
    padding-left: 70px ;
    padding-right: 70px ;
    @media (max-width: $step-lg-) and (min-width: $step-xs) {
      height: 46px;
      padding-left: 30px;
      padding-right: 30px;
    }
    @media (max-width: $step-xs) {
      height: 46px;
      padding-left: 45px;
      padding-right: 45px;
    }
  }
  &-mm{
    @extend %red-button;
    padding-left: 28px ;
    padding-right: 28px ;
    @media (max-width: $step-lg-) {
      height: 46px;
      padding-left: 26px;
      padding-right: 26px;
    }
  }
}
img{
  @include clear-all();
  max-width: 100%;
  line-height: 1;
}

.spisok-yellow{
  display: flex;
  flex-flow: row wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  ul{
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    position: relative;
    width: 100%;
    margin-bottom: 0;
    @media (max-width: $step-lg-) {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      position: relative;
      width: 100%;
    }
    li{
      line-height: 18px;
      padding-bottom: 14px;
      list-style-type: none;
      padding-left: 20px;
      position: relative;
      &:after{
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        position: absolute;
        left: 2px;
        top: 6px;
        background-color: #ffcb05;
        border-radius: 50%;
      }


    }
  }
}