body, div, form, h1, h2, h3, h4, h5, h6, html, li, ol, p, pre, span, ul, figure {
  margin: 0;
  padding: 0;
  outline: 0;
}

h1
{
  @include font(36px,1.2,400);
}

h2
{
  font-size: 18px;
  font-weight: 600;
}

h3
{
  @include font(22px,1.4,500);
}

h4
{
  @include font(16px,1.5,700);
}

p
{
  @include font();
}

img
{
  @include clear-all();
  max-width: 100%;
  line-height: 1;
}
a
{
  @include transition();
  color: unset;
  font-weight: 600;
  background-color: transparent;
  &:hover
  {
    color: unset;
    @include transition();
    text-decoration: none;
  }
}
