
// Body
$body-bg: #f8fafc;
$width-container: 750px;
$pie: 110px;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$color-date-table: #f6f7f8;
$color-text-default: #525252;
$color-text-laravel: #636b6f;
$yellow: #ffcb05;
$grau-light: #e2e2e2;

// breakpoints
$step-xl:1199px;
$step-lg:991px;
$step-md:767px;
$step-sm:575px;
$step-xs:479px;
$step-mm:369px;
$step-xl-: ($step-xl + 1);
$step-lg-: ($step-lg + 1);
$step-md-: ($step-md + 1);
$step-sm-: ($step-sm + 1);
$step-xs-: ($step-xs + 1);
$step-mm-: ($step-mm + 1);


// font
$font-path: '../fonts';
$font-default-size: 16px;
$font-default-weight: 400;
$font-default-line-height: 1.5;
$font-family: "GothamPro";

// other
$transition-default-speed: 0.1s;